<!DOCTYPE html>
<html>
<head>
    <title>In-Vehicle Monitoring System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="15">

    <style>
      body {
        font-family: 'Roboto', sans-serif;
        background-color: #e6e6e6;
      }

      h1 {
        font-size: 2.2em;
        text-align: center;
        margin-top: 40px;
      }

      .user-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
      }

      .user-info span {
        font-weight: bold;
      }

      .vehicle-list {
        height: 600px;
        overflow: auto;
        padding: 10px;
        background-color: #F8F8F8;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }

      .vehicle-list table {
        width: 100%;
      }

      .vehicle-list th {
        position: sticky;
        top: 0;
        text-align: left;
        padding: 10px;
        background-color: #F5F5F5;
        border-radius: 10px;
        z-index: 1;
      }

      .vehicle-list td {
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .vehicle-list td:first-child {
        font-weight: bold;
      }

    </style>
</head>
<body>
    <h1>In-Vehicle Monitoring System</h1>
    <div class="user-info">
      <span>Welcome {{ name }}</span>
      <span class="num-cars">Number of Online Vehicles: {{ vehicles_number }}</span>
    </div>
    <div class="vehicle-list">
  <table>
    <tr>
      <th>Vehicles</th>
      <th>Overspeeding</th>
      <th>Hash Acceleration</th>
      <th>Driving Hours</th>
      <th>Night Driving Hours</th>
    </tr>
    {% if vehicle_list is defined and vehicle_list %}
      {% for id, vehicle_info in vehicle_list.items() %}
        <tr>
          <td>{{ vehicle_info[0] }}</td>
          <td>{{ vehicle_info[1] }}</td>
          <td>{{ vehicle_info[2] }}</td>
          <td>{{ vehicle_info[3] }}</td>
          <td>{{ vehicle_info[4] }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="5">fetching vehicles ...</td>
      </tr>
    {% endif %}
  </table>
</div>

</body>
</html>
